<html>
    <head>
        <title>Global Economic Analysis on a Budget</title>
        <style>
            body {
                font-family: Sans-Serif;
            }
            a {
                color: black;
            }
        </style>
    </head>

    <body>
        <center>
            <h1>Global Economic Analysis on a Budget</h1>
            <h2><a href="/assets/georodeo/presentation.pdf">Slides (PDF)</a></h2>
            <h2><a href="/assets/georodeo/presentation.pptx">Slides (PPTX)</a></h2>
            <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSeDs52Q7YE8zFDyobZMehO5YdN6MpgES0XeGUkrfmDIBd9jQQ/viewform?usp=sf_link">Rate my Presentation</a></h2>
            <h2><a href="https://twitter.com/kbgg_">Twitter</a></h2>
            <h2><a href="mailto:kevin@kb.gg">Email (kevin@kb.gg)</a></h2>
        </center>
    </body>
</html>
