<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67560896-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-67560896-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="ahrefs-site-verification" content="154e9f1316b0f04cc9f41f1d34cd7699bbcf4c2bcac3b43fc0fd8ad14709ee5e">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <title>Kevin Booth</title>
  </head>
  <div class="background"></div>
  <div class="background-overlay"></div>
  <body>
  <div class="container-fluid">
      <div class="row name">
          <div class="col-sm">Hi, I'm <p class="highlighted">Kevin Booth</p></div>
      </div>

      <div class="row section">
          <div class="col-sm section-body">
              <p class="section-header">
                  I'm a
              </p>
              <ul>
                  <li><p class="bullet">></p> Senior Software Engineer at <a href="https://umbra.space/">Umbra</a></li>
              </ul>
          </div>
      </div>

      <div class="row section">
          <div class="col-sm section-body">
              <p class="section-header">
                  I was the
              </p>
              <ul>
                  <li><p class="bullet">></p> Director of Engineering at <a href="https://radiant.earth">Radiant Earth</a></li>
              </ul>
          </div>
      </div>

      <div class="row section">
          <div class="col-sm section-body">
              <p class="section-header">
                  I'm Interested in
              </p>
              <ul>
                  <li><p class="bullet">></p> Remote Sensing</li>
                  <li><p class="bullet">></p> Machine Learning</li>
                  <li><p class="bullet">></p> Photography</li>
                  <li><p class="bullet">></p> Skydiving</li>
              </ul>
          </div>
      </div>

      <div class="row section">
          <div class="col-sm section-body">
              <p class="section-header">
                  Check out my
              </p>
              <ul>
                  <li><p class="bullet">></p> <a href="https://twitter.com/kbgg_">Twitter</a></li>
              </ul>
          </div>
      </div>

      <div class="row section attribution">
          <div class="col-sm section-body">
            <a href="https://www.planet.com/gallery/nador-20170103/">Background Image Provided by Planet</a>
          </div>
      </div>
  </div>



  </body>
</html>
